name: Unit Test

on:
  push:
    branches:
      - release
      - master
    tags:
      - v**
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Set up Golang
        uses: actions/setup-go@v6.2.0
        with:
          go-version: 1.26
          cache: true

      - name: Execute Unit Tests
        run: go test -coverprofile coverage.out  ./... && go tool cover -func coverage.out -o coverage.txt && go tool cover -html=coverage.out -o coverage.html
        env:
          IS_CICD: true

      - name: Upload Test Results
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: coverage.html
